@font-face{
    font-family: Lato-Regular;
    src: url(./assets/Lato-Regular.ttf)
}
@font-face{
    font-family: Lato-Black;
    src: url(./assets/Lato-Black.ttf);
}
@font-face{
    font-family: Lato-Light;
    src: url(./assets/Lato-Light.ttf);
}
@font-face{
    font-family: Lato-Bold;
    src: url(./assets/Lato-Bold.ttf);
}
body{
    
    padding: 0px;
    margin: 0px;
}
.container{
    
    width: 940px;
    margin: 0 auto;
    }
header{
    
padding: 0px;
margin: 0px;
background-color: #2d303a;
height: 90px;
}
.logo{
    /*font-family: Lato-Light;*/
    padding-top: 35px;
    padding-left: 5px;
    margin: 0px;
    /*color: white;
    text-transform: uppercase;
    font-size: 25px;*/
}
/*
span{    
    color: red;
    font-size: 15px;
}*/

.menu{    
    
    margin-right: -15px;
    margin-top: -33px;
    /*display: block;*/
}

.menu li{        
    margin: 0px;
    padding: 0px;
    float: right;
    display: block;
    margin-right: 25px;
    font-size: 12px;
}
.menu li a{  
    text-decoration: none;
    font-family: Lato-Bold;
    letter-spacing: 0px;  
    color: #fff;
    text-transform: uppercase;
}
.menu a:hover{
    
    color: red;
}
.dot1{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 10px;
}
.headerBottom{
    margin-top: 0px;
    height: 5px;
    background-color: #323746;
}
.slider{
background-color: salmon;
margin-top: 0px;
height: 595px;
}
.phoneHor .phoneHorizontal{
    margin-left: 425px;
    margin-top: 175px;
}
.phoneVert .phoneVertical{
    margin-left: 111px;
    margin-top: -367px;
}
.bottomLine{
    height: 5px;
    background-color: #ea676b;
}
.title{
    background-color: snow;
    margin-top: 60px;
    height: auto;
}
.title h2{    
    padding: 0px;
    font-family: Lato-Black;
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 30px ;
    color: #666d89;
}
.titleB{
    
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    word-spacing: 1px;
    font-family: Lato-Light;
    margin-left: 41px;        
    font-size: 18px;
    color: #666d89;
}
.services{
    background-color: snow;
    height: auto;
}
.container-1{
    display: flex;
    flex-direction: row;
    
    height: 130px;
    width: 1020px;
    align-items: flex-start;
}
.container-1 div{
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
}
.container-1 blockquote{
    padding: 0px;
    margin: 0p;
}
.container-1 h2{
    margin: 0px;
    padding: 0px;  
    font-family: Lato-Black;
    font-size: 18px ;
    margin-top: 30px;
    line-height: 10px;
    word-spacing: 0.2px;
}

.container-1 .box-1{
    
    flex: 0;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    float: left;
    margin-top: 20px;
    margin-left: 40px; 
    
    
    
}
.container-1 .box-2{
    
    flex: 2.6;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    color: #666d89;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    padding-right: 20px;
    margin-right: 5px;
    
}

.box-2 blockquote{
    margin: 0px;
    padding: 0px;
}
.container-1 .box-3{
    
    flex: 0.5;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    float: left;
    margin-top: 22px;
    
 
}
.box-4 blockquote{
    margin: 0px;
    padding: 0px;
}
.box-4 h2{
    margin: 0px;
    padding: 0px;  
    font-family: Lato-Black;
    font-size: 18px ;
    margin-top: 30px;
    line-height: 10px;
    word-spacing: 0.2px;
    
}
.container-1 .box-4{
    
    flex: 2.7;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;   
    color: #666d89;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    margin-right: 20px;
    
    
}
.container-1 .box-5{
    
    flex: 0.5;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    float: left;
    margin-top: 22px;
    
}.box-6 blockquote{
    margin: 0px;
    padding: 0px;
}

.box-6 h2{
    margin: 0px;
    padding: 0px;  
    font-family: Lato-Black;
    font-size: 18px ;
    margin-top: 35px;
    line-height: 0px;
    word-spacing: 0.2;
}
.container-1 .box-6{
    
    flex: 2.7;
    margin: 0px;
    padding: 0px;
    margin-right: 40px;
    color: #666d89;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    padding-left: 20px;
}
.container-2{
    
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 1020px;
    align-items: flex-start;
    padding-bottom: 48px;
}
.container-2 div{
    margin: 0px;
    padding: 0px;
    
}
.container-2 blockquote{
    padding: 0px;
    margin: 0p;
}
.container-2 h2{
    margin: 0px;
    padding: 0px;  
    font-family: Lato-Black;
    font-size: 18px ;
    margin-top: 20px;
    line-height: 10px;
    word-spacing: 0.2px;
}

.container-2 .box-7{
    
    flex: 0;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    float: left;
    margin-top: 13px;
    margin-left: 40px; 
    
    
    
}
.container-2 .box-8{
    
    flex: 2.8;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    color: #666d89;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    padding-right: 0px;
    margin-right: 0px;
    
}

.box-8 blockquote{
    margin: 0px;
    padding: 0px;
}
.container-2 .box-9{
    
    flex: 0.5;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    float: left;
    margin-top: 14px;
    
 
}
.box-10 blockquote{
    margin: 0px;
    padding: 0px;
}
.box-10 h2{
    margin: 0px;
    padding: 0px;  
    font-family: Lato-Black;
    font-size: 18px ;
    margin-top: 20px;
    line-height: 10px;
    word-spacing: 0.2px;
    
}
.container-2 .box-10{
    flex: 2.7;
    margin: 0px;
    padding: 0px;
    padding-left: 20px; 
    padding-right: 10px;  
    color: #666d89;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    
    
    
}
.container-2 .box-11{
    flex: 0.5;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    float: left;
    margin-top: 14px;
    
}.box-12 blockquote{
    margin: 0px;
    padding: 0px;
}

.box-12 h2{
    margin: 0px;
    padding: 0px;  
    font-family: Lato-Black;
    font-size: 18px ;
    margin-top: 25px;
    line-height: 0px;
    word-spacing: 0.2;
}
.container-2 .box-12{
    
    flex: 2.6;
    margin: 0px;
    padding: 0px;
    margin-right: 40px;
    color: #666d89;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    padding-left: 20px;
}
    .secondPart{
        padding: 0px;
        margin: 0px;
        background-color: #2d303a;
        height: auto;
    }
    .secondPart h2{
            margin: 0px;
            padding: 0px;
            font-family: Lato-Black;
            font-size: 30px;
            color: #666d89;
            padding-top: 60px;
            padding-left: 0px;        
    }
    blockquote{
        margin: 0px;
        padding: 0px;
    }
    .secondPart p{
       
            margin: 0px;
            padding: 0px;
            font-family: Lato-Light;
            font-size: 18px;
            padding-top: 22px;
            padding-left: 0px;
            color: #676e8a;
            
    }
    .containerButton{
        margin: 0px;
        padding: 0px;
        display: flex;        
        padding-top: 0px;
    }
button{
    margin: 0px;
    padding: 0px;
    height: 20px;
    width: 30px;
    border: 1px solid white;
    font-family: Lato-Regular;
    font-size: 12px;
    color: #dedede;
    border-radius: 5px;
    background: transparent;
    margin-top: 16px;
    margin-left: 0px;
    cursor: pointer;
}
.box .two{
    width: 78px;
    margin-left: 10px;
}
.box .three{
    width: 95px;
    margin-left: 8px;
}
.box .four{
    width: 59px;
    margin-left: 8px;
}
button:hover{
    background-color: #444d6b;
}

.containerImg{
   
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 687px;
    width: 940px;
    
    align-content: space-between;  
    margin-left: 0px;
     }
     .imgBox-1:nth-child(n+13){
         display: none;
     }
    
    
.imgBox-1{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.bottomLineSecond{
    background-color: #323746;
    height: 5px;
}
.aboutUs{
    background-color: #f2f2f2;
    height: auto;
}
.aboutUs h2{
    margin: 0px;
    padding: 0px;
font-family: Lato-Black;
font-size: 30px;
color: #666d89;
padding-top: 60px;
padding-bottom: 0px;

}
.aboutUs p{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: Lato-Light;
    color: #666d89;    
    padding-top: 23px;
    line-height: 27px;
    text-align: justify;
}
.anotherContainer{
    
    width: 940px;
    margin: 0 auto;
    
    
}
.color{
    background-color: #f2f2f2;
}
.containerAboutUs{
    align-content: space-between;
    width: 940px;
    height: 510px;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0px;
    padding-top: 48px;
    }
    .containerAboutUs img{
        
        margin: 0px;
        padding: 0px;
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
    }
 .containerAboutUs blockquote{
     margin: 0px;
     padding: 0px;
 }   
.containerAboutUs h2{
    
    margin: 0px;
    padding: 0px;
    font-family: Lato-Black;
    font-size: 18px;
    color: #666d89;
    margin-bottom: 10px;
    text-align: left;
}
.containerAboutUs p{
    width: 300px;
    margin: 0px;
    padding: 0px;
    font-family: Lato-Regular;
    font-size: 12px;
    color: #666d89;
    text-align: justify;
    line-height: 20px;

}
.adamJ{
    word-spacing: -0.5px;
 text-align: justify;  
}
.containerAboutUs .facebook{
    margin: 0px;
    padding: 0px;
    margin-top: 23px;
    padding-right: 3px;
    height: 33px;
    width: 33px;
    text-align: left;
    
}
.bottomLineThird{
    background-color: #ffffff;
    height: 5px;
}
.thirdPart{
    padding: 0px;
    margin: 0px;
    background-color: #f06c64;
    height: auto;
}
.thirdPart h2{
    font-family: Lato-Black;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    padding-top: 60px;
    color: #f0d8d9;
}
.blockquoteThird{
    margin: 0px;
    padding: 0px;
    background-color: #f06c64;
}
.blockquoteThird p{
    margin: 0px;
    padding: 0px;
    padding-top: 16px;
    font-family: Lato-Light;
    font-size: 18px;
    color: #f0d8d9;
    text-align: justify;
    line-height: 30px;
}
.formThird{
    margin: 0px;
    padding: 0px;
    padding-top: 47px;
    height: auto;
    background-color: #f06c64;    
}
.test{
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #d6564f;
    width: 620px;
    height: 35px;
    border-radius: 5px;
    font-family: Lato-Regular;
    font-size: 12px;
    margin-bottom: 18px;
}
input[type="text"]::-webkit-input-placeholder{
    color: #ec7e7e;
    padding-left: 15px;        
}
textarea{
    border: none;
    background-color: #d6564f;
    width: 600px;
    height: 190px;
    border-radius: 5px;
    font-family: Lato-Regular;
    font-size: 12px;
    padding-left: 15px;  
    padding-top: 10px;
    margin-bottom: 17px;
    }
textarea::-webkit-input-placeholder{
    color: #ec7e7e;      
}
.buttonThird{
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 40px;
    margin-left: 0px;
    background-color: #bc4a4e;
    border-radius: 5px;
    border: none;
    font-family: Lato-Regular;
    color: blanchedalmond;
    font-size: 14px;
}
.contact h2{
    margin: 0px;
    padding: 0px;
    font-family: Lato-Black;
    font-size: 18px;
    color: #f0cbcc;
    margin-left: 639px;
    margin-top: -427px;
    }
    blockquote{
        margin: 0px;
        padding: 0px;
    }
    .contact p{
        margin: 0px;
        padding: 0px;
        font-family: Lato-Regular;
        font-size: 12px;
        line-height: 22px;
        margin-top: 8px;
        color: #f0d8d9;
        text-align: left;
        padding-left: 639px;      
        word-break: break-all;     
    }
    .location{
        margin: 0px;
        padding: 0px;
        margin-top: 19px;
        margin-left: 5px;
    }
    .contact .loc{
        margin: 0px;
        padding: 0px;
        margin-top: -23px;
        margin-left: 663px;
    }
    .contact .phone{
        margin: 0px;
        padding: 0px;
        margin-left: 642px;
        margin-top: -19px;
    }
    .contact .tel{     
        margin-top: -22px;
        margin-left: 24px;
    }
    a{
        font-family: Lato-Regular;
        font-size: 12px;
        text-decoration: none;
        color: #f0d8d9;
    }
    .contact .mail{
    margin: 0px;
    }
    .contact .ml{
        margin-left: 24px;
        margin-top: -22px;
        padding-bottom: 232px;
    }
    .bottomLineFourth{
        background-color: #ea676b;
        height: 3px;        
    }
    .bottom{
        margin: 0px;
        padding: 0px;
        background-color: #2d303a;
        height: 77px;
        display: flex;
            
    }    
    .bottom .copyright{
        margin-left: 2px;
        padding-right: 689px; 
        padding-bottom: 9px;    
    }
    .bottom .facebook{
        margin-top: 22px;
        padding-right: 3.2px;       
    }
